*{
    margin: 0;
    padding: 0;
}

main{
    min-width: 100vw;
}

input{
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    min-width: 500px;
}

.signature-pad {

    border: 2px solid #000000;
    border-radius: 4px;
}

.btns{
    text-align: center;
    display: block;
}